<style>
    .rotate {
        /* Safari */
        -webkit-transform: rotate(-30deg);
        /* Firefox */
        -moz-transform: rotate(-30deg);
        /* IE */
        -ms-transform: rotate(-30deg);
        /* Opera */
        -o-transform: rotate(-30deg);
    }
</style>

<div class="row" style="background-color: #e7e7e7; padding: 20px 0;">

    <div class="container-fluid">

        <div class="row" style="margin-bottom: 30px;">

            <div class="form form-inline">

                <!--тип события-->
                <div class="form-group col-md-4">
                    <label class="control-label">Event: </label><br/>
                    <div class="btn-group">
                        <label class="btn btn-success" ng-model="filters.event" btn-radio="'new'">New</label>
                        <label class="btn btn-warning" ng-model="filters.event" btn-radio="'payout_up'">Payout Up</label>
                        <label class="btn btn-danger" ng-model="filters.event" btn-radio="'stopped'">Stop</label>
                    </div>
                </div>

                <!--выбор партнерок-->
                <div class="form-group col-md-3">
                    <label class="control-label">Network:</label><br/>
                    <ui-select multiple ng-model="filters.networks" theme="bootstrap" ng-disabled="disabled" style="width: 100%;">
                        <ui-select-match placeholder="">{{$item.name}}</ui-select-match>
                        <ui-select-choices repeat="network.id as network in networks | propsFilter: {name: $select.search}">
                            <span ng-bind-html="network.name | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>


                <!--выбор гео-->
                <div class="form-group col-md-3">
                    <label class="control-label">Country:</label><br/>
                    <ui-select multiple ng-model="filters.countries" theme="bootstrap" ng-disabled="disabled" sortable="true" style="width: 100%;">
                        <ui-select-match placeholder="">{{$item.code}}</ui-select-match>
                        <ui-select-choices repeat="country.code as country in countries | propsFilter: {code: $select.search}">
                            <span ng-bind-html="country.code | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>

                <!--сбросить фильтры-->
                <div class="col-md-1">
                    <i class="glyphicon glyphicon-remove-circle pull-right" ng-click="filters = {}" style="cursor: pointer;"></i>
                </div>

            </div><!--form-->
        </div><!--row-->

        <hr />

        <div class="row" infinite-scroll="loadNextPage()" infinite-scroll-distance="0">

            <div class="col-md-3 col-sm-4" ng-repeat="event in events">

                <!-- new -->
                <div ng-if="event.name == 'new'" style="height: 150px; border: 0 solid grey; background-color: #fff; padding: 15px 15px; margin-bottom: 30px; border-left: 3px solid limegreen;">
                    <!--time-->
                    <span style="position: absolute; bottom: 30px; right: 20px; padding: 0; margin: 0;">
                        <small class="text-muted"><i am-time-ago="event.created"></i></small>
                    </span>
                    <img
                        width="80" height="80"
                        ng-src="{{event.offer.app.icon_url}}"
                        alt="" class="img-rounded" align="left" style="margin: 0 15px 0 0;"/>
                    <span class="pull-right">
                        <div class="text-right">
                            <img src="/images/platforms/ios.png" width="24" ng-if="event.offer.app.platform.name == 'iOS'" />
                            <img src="/images/platforms/android.png" width="24" ng-if="event.offer.app.platform.name == 'Android'" />
                        </div>
                        <div class="text-right" style="font-size: 19px; color: #bcbcb4; margin: 10px 0 0 10px;"><strong>{{event.offer.payout | number : 2 }}</strong></div>
                    </span>
                    <p style="font-size: 1em;">{{event.offer.name | limitTo : 40}}<br/>
                    <small class="text-muted">{{event.offer.network.name}}</small></p>
                    <p>
                        <span ng-if="event.offer.countries.length <= 7" ng-repeat="country in event.offer.countries">{{country.code}} </span>
                        <span ng-if="event.offer.countries.length > 7">{{event.offer.countries.length}} countries </span>
                    </p>
                </div>

                <!-- payout up -->
                <div ng-if="event.name == 'payout_up'" style="height: 150px; border: 0 solid grey; background-color: #fff; padding: 15px 15px; margin-bottom: 30px; border-left: 3px solid orange;">
                    <!--time-->
                    <span style="position: absolute; bottom: 30px; right: 20px; padding: 0; margin: 0;">
                        <small class="text-muted"><i am-time-ago="event.created"></i></small>
                    </span>
                    <img
                            width="80" height="80"
                            ng-src="{{event.offer.app.icon_url}}"
                            alt="" class="img-rounded" align="left" style="margin: 0 15px 0 0;"/>
                    <span class="pull-right">
                        <div class="text-right">
                            <img src="/images/platforms/ios.png" width="24" ng-if="event.offer.app.platform.name == 'iOS'" />
                            <img src="/images/platforms/android.png" width="24" ng-if="event.offer.app.platform.name == 'Android'" />
                        </div>
                        <div class="text-right" style="font-size: 19px; color: #bcbcb4; margin: 10px 0 0 10px;"><strong><i class="glyphicon glyphicon-arrow-up" style="color: orange;"></i> {{event.offer.payout | number : 2 }}</strong></div>
                    </span>
                    <p style="font-size: 1em;">{{event.offer.name | limitTo : 40}}<br/>
                        <small class="text-muted">{{event.offer.network.name}}</small></p>
                    <p>
                        <span ng-if="event.offer.countries.length <= 7" ng-repeat="country in event.offer.countries">{{country.code}} </span>
                        <span ng-if="event.offer.countries.length > 7">{{event.offer.countries.length}} countries </span>
                    </p>                </div>

                <!-- stopped -->
                <div ng-if="event.name == 'stopped'" style="height: 150px; border: 0 solid grey; background-color: #fff; padding: 15px 15px; margin-bottom: 30px; border-left: 3px solid red; opacity: 0.4;">
                    <!--time-->
                    <span style="position: absolute; bottom: 30px; right: 20px; padding: 0; margin: 0;">
                        <small class="text-muted"><i am-time-ago="event.created"></i></small>
                    </span>
                    <img
                            width="80" height="80"
                            ng-src="{{event.offer.app.icon_url}}"
                            alt="" class="img-rounded" align="left" style="margin: 0 15px 0 0;"/>
                    <span class="pull-right">
                        <div class="text-right">
                            <img src="/images/platforms/ios.png" width="24" ng-if="event.offer.app.platform.name == 'iOS'" />
                            <img src="/images/platforms/android.png" width="24" ng-if="event.offer.app.platform.name == 'Android'" />
                        </div>
                        <div class="text-right" style="font-size: 19px; color: #bcbcb4; margin: 10px 0 0 10px;"><strong>{{event.offer.payout | number : 2 }}</strong></div>
                    </span>
                    <p style="font-size: 1em;">{{event.offer.name | limitTo : 40}}<br/>
                        <small class="text-muted">{{event.offer.network.name}}</small></p>
                    <p>
                        <span ng-if="event.offer.countries.length <= 7" ng-repeat="country in event.offer.countries">{{country.code}} </span>
                        <span ng-if="event.offer.countries.length > 7">{{event.offer.countries.length}} countries </span>
                    </p>
                    <p style="border-radius: 5px; border: 2px solid red; position:absolute; left: 50%; top: 30%; color: red; font-size: 20px; font-weight: bold" class="rotate">STOPPED</p>
                </div>
            </div>


        </div><!--row results-->


    </div><!--container-fluid-->

</div><!--row with background color-->

